{% extends 'base/index.twig' %}

{% block content %} 
<div class="inner-content">
    <div id="mainbar">
        
    <div class="bbw0">
            <div class="grid">
                <h1 class="grid--cell fl1 fs-headline1">
                    Explore Our Questions
                </h1>
                
<div class="pl8 aside-cta grid--cell" role="navigation" aria-label="ask new question">
    <a href="/questions/ask" class="d-inline-flex ai-center ws-nowrap s-btn s-btn__primary">Ask Question</a>
</div>

            </div>
            <div class="grid ai-center mb16">
                <div class="grid--cell fl1 fs-body3"></div>
                <div class="grid--cell">

<div class="grid tabs-filter s-btn-group tt-capitalize">
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="?tab=active" data-nav-xhref="" title="Questions that have been asked, answered, or updated recently" data-value="active" data-shortcut="A">
            active</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="?tab=featured" data-nav-xhref="" title="Questions with an active bounty" data-value="featured" data-shortcut="B">
<span class="bounty-indicator-tab">3</span>            featured</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="?tab=hot" data-nav-xhref="" title="Questions with the most views, answers, and votes over the last few days" data-value="hot" data-shortcut="H">
            hot</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="?tab=week" data-nav-xhref="" title="Questions with the most views, answers, and votes this week" data-value="week" data-shortcut="W">
            week</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="?tab=month" data-nav-xhref="" title="Questions with the most views, answers, and votes this month" data-value="month" data-shortcut="M">
            month</a>
    </div>

                </div>
            </div>
            <div class="mb16">
                <a href="/?tags=14.04" class="post-tag no-tag-menu" title="Show questions relating to 14.04" rel="tag">14.04</a><a href="/?tags=16.04" class="post-tag no-tag-menu" title="Show questions relating to 16.04" rel="tag">16.04</a><a href="/?tags=12.04" class="post-tag no-tag-menu" title="Show questions relating to 12.04" rel="tag">12.04</a><a href="/?tags=boot" class="post-tag no-tag-menu" title="Show questions relating to boot" rel="tag">boot</a><a href="/?tags=command-line" class="post-tag no-tag-menu" title="Show questions relating to command-line" rel="tag">command-line</a><a href="/?tags=networking" class="post-tag no-tag-menu" title="Show questions relating to networking" rel="tag">networking</a><a href="/?tags=dual-boot" class="post-tag no-tag-menu" title="Show questions relating to dual-boot" rel="tag">dual-boot</a><a href="/?tags=drivers" class="post-tag no-tag-menu" title="Show questions relating to drivers" rel="tag">drivers</a><a href="/?tags=apt" class="post-tag no-tag-menu" title="Show questions relating to apt" rel="tag">apt</a><a href="/?tags=server" class="post-tag no-tag-menu" title="Show questions relating to server" rel="tag">server</a>     <a class="more-tags" href="/tags">more&nbsp;tags</a>

            </div>
    </div>

<div id="qlist-wrapper" class="flush-left">
    <div id="question-mini-list">

{# First Question     #}
    
<div class="question-summary narrow" id="question-summary-1096118" style="display: flex;">
    <div onclick="window.location.href='/questions/1096118/update-to-18-04-no-wifianymore'" class="cp">
        <div class="votes">
            <div class="mini-counts"><span title="0 votes">0</span></div>
            <div>votes</div>
        </div>
        <div class="status answered">
            <div class="mini-counts"><span title="1 answer">1</span></div>
            <div>answer</div>
        </div>
        <div class="views">
            <div class="mini-counts"><span title="4 views">4</span></div>
            <div>views</div>
        </div>
    </div>
    <div class="summary">
        
        
        <h3><a href="/questions/1096118/update-to-18-04-no-wifianymore" class="question-hyperlink">Update to 18.04 - no WiFianymore</a></h3>
        <div class="tags t-networking t-kernel">
            <a href="/questions/tagged/networking" class="post-tag" title="show questions tagged 'networking'" rel="tag">networking</a> <a href="/questions/tagged/kernel" class="post-tag" title="show questions tagged 'kernel'" rel="tag">kernel</a> 
        </div>
        <div class="started">
            <a href="/questions/1096118/update-to-18-04-no-wifianymore/?lastactivity" class="started-link">answered <span title="2018-11-26 10:18:42Z" class="relativetime">just now</span></a>
            <a href="/users/329836/janmyszkier">janmyszkier</a> <span class="reputation-score" title="reputation score " dir="ltr">371</span>
        </div>
    </div>
</div>

{# First Question END #}

{# Second Question  #}
<div class="question-summary narrow" id="question-summary-810331" style="display: flex;">
    <div onclick="window.location.href='/questions/810331/hp-pavillion-x2-10-1-detachable'" class="cp">
        <div class="votes">
            <div class="mini-counts"><span title="0 votes">0</span></div>
            <div>votes</div>
        </div>
        <div class="status answered">
            <div class="mini-counts"><span title="1 answer">1</span></div>
            <div>answer</div>
        </div>
        <div class="views">
            <div class="mini-counts warm"><span title="4174 views">4k</span></div>
            <div class="warm">views</div>
        </div>
    </div>
    <div class="summary">
        
        
        <h3><a href="/questions/810331/hp-pavillion-x2-10-1-detachable" class="question-hyperlink">HP Pavillion x2 10.1 detachable</a></h3>
        <div class="tags t-usb-installation">
            <a href="/questions/tagged/usb-installation" class="post-tag" title="show questions tagged 'usb-installation'" rel="tag">usb-installation</a> 
        </div>
        <div class="started">
            <a href="/questions/810331/hp-pavillion-x2-10-1-detachable/?lastactivity" class="started-link">modified <span title="2018-11-26 10:00:45Z" class="relativetime">17 mins ago</span></a>
            <a href="/users/-1/community">Community</a><span class="mod-flair" title="moderator">♦</span> <span class="reputation-score" title="reputation score " dir="ltr">1</span>
        </div>
    </div>
</div>
{# Second Question  END #}

{# Third Question #}
<div class="question-summary narrow" id="question-summary-1096119" style="display: flex;">
    <div onclick="window.location.href='/questions/1096119/how-do-i-set-a-registry-key-to-point-to-the-net-install-location'" class="cp">
        <div class="votes">
            <div class="mini-counts"><span title="0 votes">0</span></div>
            <div>votes</div>
        </div>
        <div class="status unanswered">
            <div class="mini-counts"><span title="0 answers">0</span></div>
            <div>answers</div>
        </div>
        <div class="views">
            <div class="mini-counts"><span title="1 view">1</span></div>
            <div>view</div>
        </div>
    </div>
    <div class="summary">
        
        
        <h3><a href="/questions/1096119/how-do-i-set-a-registry-key-to-point-to-the-net-install-location" class="question-hyperlink">How do I set a registry key to point to the .NET install location?</a></h3>
        <div class="tags t-wine t-playonlinux">
            <a href="/questions/tagged/wine" class="post-tag" title="show questions tagged 'wine'" rel="tag">wine</a> <a href="/questions/tagged/playonlinux" class="post-tag" title="show questions tagged 'playonlinux'" rel="tag">playonlinux</a> 
        </div>
        <div class="started">
            <a href="/questions/1096119/how-do-i-set-a-registry-key-to-point-to-the-net-install-location" class="started-link">asked <span title="2018-11-26 09:56:23Z" class="relativetime">22 mins ago</span></a>
            <a href="/users/504604/raffles">Raffles</a> <span class="reputation-score" title="reputation score " dir="ltr">16</span>
        </div>
    </div>
</div>
{# Third Question END #}

{# Forth Question #}
<div class="question-summary narrow" id="question-summary-1081006" style="display: flex;">
    <div onclick="window.location.href='/questions/1081006/bluetooth-speaker-sound-distorted-ubuntu-18-04'" class="cp">
        <div class="votes">
            <div class="mini-counts"><span title="1 vote">1</span></div>
            <div>vote</div>
        </div>
        <div class="status answered-accepted" title="one of the answers was accepted as the correct answer">
            <div class="mini-counts"><span title="2 answers">2</span></div>
            <div>answers</div>
        </div>
        <div class="views">
            <div class="mini-counts"><span title="122 views">122</span></div>
            <div>views</div>
        </div>
    </div>
    <div class="summary">
        
        
        <h3><a href="/questions/1081006/bluetooth-speaker-sound-distorted-ubuntu-18-04" class="question-hyperlink">Bluetooth speaker sound distorted (ubuntu 18.04)</a></h3>
        <div class="tags t-sound t-18û04 t-bluetooth t-pulseaudio">
            <a href="/questions/tagged/sound" class="post-tag" title="show questions tagged 'sound'" rel="tag">sound</a> <a href="/questions/tagged/18.04" class="post-tag" title="show questions tagged '18.04'" rel="tag">18.04</a> <a href="/questions/tagged/bluetooth" class="post-tag" title="show questions tagged 'bluetooth'" rel="tag">bluetooth</a> <a href="/questions/tagged/pulseaudio" class="post-tag" title="show questions tagged 'pulseaudio'" rel="tag">pulseaudio</a> 
        </div>
        <div class="started">
            <a href="/questions/1081006/bluetooth-speaker-sound-distorted-ubuntu-18-04/?lastactivity" class="started-link">modified <span title="2018-11-26 09:47:23Z" class="relativetime">31 mins ago</span></a>
            <a href="/users/527764/zanna">Zanna</a> <span class="reputation-score" title="reputation score 49,001" dir="ltr">49k</span>
        </div>
    </div>
</div>
{# Forth Question END #}

{# Fifth Question #}
<div class="question-summary narrow" id="question-summary-100568" style="display: flex;">
    <div onclick="window.location.href='/questions/100568/what-is-the-equivalent-for-switching-drives-in-terminal-on-linux'" class="cp">
        <div class="votes">
            <div class="mini-counts"><span title="37 votes">37</span></div>
            <div>votes</div>
        </div>
        <div class="status answered-accepted" title="one of the answers was accepted as the correct answer">
            <div class="mini-counts"><span title="7 answers">7</span></div>
            <div>answers</div>
        </div>
        <div class="views">
            <div class="mini-counts supernova"><span title="199999 views">200k</span></div>
            <div class="supernova">views</div>
        </div>
    </div>
    <div class="summary">
        
        
        <h3><a href="/questions/100568/what-is-the-equivalent-for-switching-drives-in-terminal-on-linux" class="question-hyperlink">What is the equivalent for switching drives in terminal on Linux?</a></h3>
        <div class="tags t-command-line t-drive">
            <a href="/questions/tagged/command-line" class="post-tag" title="show questions tagged 'command-line'" rel="tag">command-line</a> <a href="/questions/tagged/drive" class="post-tag" title="show questions tagged 'drive'" rel="tag">drive</a> 
        </div>
        <div class="started">
            <a href="/questions/100568/what-is-the-equivalent-for-switching-drives-in-terminal-on-linux/?lastactivity" class="started-link">modified <span title="2018-11-26 09:17:54Z" class="relativetime">1 hour ago</span></a>
            <a href="/users/527764/zanna">Zanna</a> <span class="reputation-score" title="reputation score 49,001" dir="ltr">49k</span>
        </div>
    </div>
</div>
{# Fifth Question End #}

{# Sixth Question #}
<div class="question-summary narrow _gps" id="question-summary-1093450">
    <div onclick="window.location.href='/questions/1093450/how-to-enable-or-disable-updates-security-backports-proposed-repositories'" class="cp">
        <div class="votes">
            <div class="mini-counts"><span title="3 votes">3</span></div>
            <div>votes</div>
        </div>
        <div class="status unanswered">
            <div class="mini-counts"><span title="0 answers">0</span></div>
            <div>answers</div>
        </div>
        <div class="views">
            <div class="mini-counts"><span title="46 views">46</span></div>
            <div>views</div>
        </div>
    </div>
    <div class="summary">
        
        <div class="bounty-indicator" title="this question has an open bounty worth 50 reputation">+50</div>
        <h3><a href="/questions/1093450/how-to-enable-or-disable-updates-security-backports-proposed-repositories" class="question-hyperlink">How to enable or disable -updates, -security, -backports, -proposed repositories from commandline?</a></h3>
        <div class="tags t-command-line t-apt t-package-management t-updates t-update-manager">
            <a href="/questions/tagged/command-line" class="post-tag" title="show questions tagged 'command-line'" rel="tag">command-line</a> <a href="/questions/tagged/apt" class="post-tag" title="show questions tagged 'apt'" rel="tag">apt</a> <a href="/questions/tagged/package-management" class="post-tag" title="show questions tagged 'package-management'" rel="tag">package-management</a> <a href="/questions/tagged/updates" class="post-tag" title="show questions tagged 'updates'" rel="tag">updates</a> <a href="/questions/tagged/update-manager" class="post-tag" title="show questions tagged 'update-manager'" rel="tag">update-manager</a> 
        </div>
        <div class="started">
            <a href="/questions/1093450/how-to-enable-or-disable-updates-security-backports-proposed-repositories" class="started-link">modified <span title="2018-11-26 08:18:11Z" class="relativetime">2 hours ago</span></a>
            <a href="/users/66509/n0rbert">N0rbert</a> <span class="reputation-score" title="reputation score 19,433" dir="ltr">19.4k</span>
        </div>
    </div>
</div>
{# Sixth Question End #}


        </div>
    </div>

    <a class="s-btn s-btn__primary float-right" href="/questions">Browse More Questions</a>
</div>
        
        
{% include 'base/sidebar.twig' %}

{% endblock %}