<div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar">
    <div class="left-sidebar--sticky-container js-sticky-leftnav">
        <nav role="navigation">
            <ol class="nav-links">
                <li>    </li>
                <li class=" youarehere">
                    <a href="/" class="pl8 js-gps-track nav-links--link">Home</a>
                </li>

                <li>
                    <a id="nav-questions" href="/questions" class="pl8 js-gps-track nav-links--link">Questions</a>
                </li>

                <li>
                    <a id="nav-tags" href="/tags" class="pl8 js-gps-track nav-links--link">Tags</a>
                </li>
                
                <li>
                    <a id="nav-users" href="/users" class="pl8 js-gps-track nav-links--link">Users</a>
                </li>
                
                <li>
                    <a id="nav-unanswered" href="/unanswered" class="pl8 js-gps-track nav-links--link">Unanswered</a>
                </li>

            </ol>
        </nav>
    </div>
</div>