        <div id="sidebar">




        <div class="module community-bulletin" data-tracker="cb=1">
    <div class="related">
                <div class="bulletin-title">
                    Hot Meta Posts
                </div>
                <hr>
    <div class="spacer">
        <div class="bulletin-item-type">
                <span title="Vote score (upvotes - downvotes)">6</span>
        </div>
        <div class="bulletin-item-content">
            <a href="https://meta.askubuntu.com/questions/18282/what-is-required-to-become-a-moderator?cb=1" class="question-hyperlink" data-ga="[&quot;community bulletin board&quot;,&quot;Hot Meta Posts&quot;,&quot;https://meta.askubuntu.com/questions/18282/what-is-required-to-become-a-moderator&quot;,null,null]">What is required to become a moderator?</a>
        </div>
        <br class="cbt">
    </div>
    <div class="spacer">
        <div class="bulletin-item-type">
                <span title="Vote score (upvotes - downvotes)">6</span>
        </div>
        <div class="bulletin-item-content">
            <a href="https://meta.askubuntu.com/questions/18296/is-it-ok-if-i-call-on-a-high-reputation-user-on-part-of-my-answer-if-it-seems-di?cb=1" title="Is it OK if I call on a high reputation user on part of my answer if it seems difficult from that point?" class="question-hyperlink" data-ga="[&quot;community bulletin board&quot;,&quot;Hot Meta Posts&quot;,&quot;https://meta.askubuntu.com/questions/18296/is-it-ok-if-i-call-on-a-high-reputation-user-on-part-of-my-answer-if-it-seems-di&quot;,null,null]">Is it OK if I call on a high reputation user on part of my answer if it seems…</a>
        </div>
        <br class="cbt">
    </div>
    <div class="spacer">
        <div class="bulletin-item-type">
                <span title="Vote score (upvotes - downvotes)">3</span>
        </div>
        <div class="bulletin-item-content">
            <a href="https://meta.askubuntu.com/questions/18289/delete-your-own-question?cb=1" class="question-hyperlink" data-ga="[&quot;community bulletin board&quot;,&quot;Hot Meta Posts&quot;,&quot;https://meta.askubuntu.com/questions/18289/delete-your-own-question&quot;,null,null]">Delete your own question</a>
        </div>
        <br class="cbt">
    </div>
    <div class="spacer">
        <div class="bulletin-item-type">
                <span title="Vote score (upvotes - downvotes)">11</span>
        </div>
        <div class="bulletin-item-content">
            <a href="https://meta.askubuntu.com/questions/18278/make-it-possible-to-retract-flags-on-comments?cb=1" class="question-hyperlink" data-ga="[&quot;community bulletin board&quot;,&quot;Hot Meta Posts&quot;,&quot;https://meta.askubuntu.com/questions/18278/make-it-possible-to-retract-flags-on-comments&quot;,null,null]">Make it possible to retract flags on comments</a>
        </div>
        <br class="cbt">
    </div>
    </div>
</div>


<div class="module js-tag-preferences-container">

    <div class="s-sidebarwidget mb16">
        <div class="s-sidebarwidget--header grid">
            <span class="grid--cell mr4"><svg aria-hidden="true" class="svg-icon iconEye" width="18" height="18" viewBox="0 0 18 18"><path d="M9.06 3C4 3 1 9 1 9s3 6 8.06 6C14 15 17 9 17 9s-3-6-7.94-6zM9 13a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm2-4a2 2 0 0 1-2 2 2 2 0 0 1-2-2 2 2 0 0 1 2-2 2 2 0 0 1 2 2z"></path></svg></span>
            <span class="grid--cell fl1">
Watched Tags            </span>
            <a class="js-edit-watched-tags grid--cell ml12 d-none" href="/users/tag-notifications/897066#watching-89">edit</a>
        </div>
        <div class="s-sidebarwidget--content fd-column">
                <div class="js-watched-tag-list grid gs4 py4 fw-wrap d-none">
                    <script type="text/html" class="js-tag-template"><div class="js-tag grid--cell "><a href="/questions/tagged/template" class="post-tag" title="show questions tagged &#39;template&#39;" rel="tag">template</a></div></script>
                </div>

            <div class="js-add-watched-container"></div>

            <div class="js-show-add-watched-container grid fd-column ta-center ai-center gsy gs16 mx-auto">
                <img class="grid--cell" alt="Tag watching" src="https://cdn.sstatic.net/Img/ico-binoculars.svg?v=d4dbaac4eec9"> 
                <p class="grid--cell wmx6 fc-black-300">
Watch tags to curate your list of questions.                </p>
                <a class="js-show-add-watched grid--cell s-btn s-btn__filled"><svg aria-hidden="true" class="svg-icon iconEye" width="18" height="18" viewBox="0 0 18 18"><path d="M9.06 3C4 3 1 9 1 9s3 6 8.06 6C14 15 17 9 17 9s-3-6-7.94-6zM9 13a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm2-4a2 2 0 0 1-2 2 2 2 0 0 1-2-2 2 2 0 0 1 2-2 2 2 0 0 1 2 2z"></path></svg> Watch a tag</a>
            </div>
        </div>
    </div>

    <div class="-ignored s-sidebarwidget">
        <div class="s-sidebarwidget--header grid">
            <span class="grid--cell mr4"><svg aria-hidden="true" class="svg-icon iconNotInterested" width="18" height="18" viewBox="0 0 18 18"><path d="M5.52 13.89a6 6 0 0 0 8.37-8.37L5.52 13.9zm-1.4-1.41l8.36-8.37a6 6 0 0 0-8.37 8.37zM9 17A8 8 0 1 1 9 1a8 8 0 0 1 0 16z"></path></svg></span>
            <span class="grid--cell fl1">Ignored Tags</span>
            <a class="js-edit-ignored-tags grid--cell ml12 d-none" href="/users/tag-notifications/897066#ignored-89">edit</a>
        </div>
        <div class="s-sidebarwidget--content fd-column">
            <div class="js-ignored-tag-list grid gs4 py4 fw-wrap ai-baseline d-none">
                <script type="text/html" class="js-tag-template"><div class="js-tag grid--cell "><a href="/questions/tagged/template" class="post-tag" title="show questions tagged &#39;template&#39;" rel="tag">template</a></div></script>

            </div>

            <div class="js-add-ignored-container"></div>

            <a class="js-show-add-ignored none">Add an ignored tag</a>

            <div class="js-ignored-edit-visible mt8 d-none">

                <div class="grid ai-center">
                    <div class="grid--cell mr8"><input type="radio" name="hideIgnored" class="js-hide-ignored s-radio" id="f7d474e5-9600-4b6e-ae6d-615044be2424-on"></div>
                    <label for="f7d474e5-9600-4b6e-ae6d-615044be2424-on" class="grid--cell s-label fs-body1 fw-normal">Hide questions in your ignored tags</label>
                </div>
                <div class="grid ai-center">
                    <div class="grid--cell mr8"><input type="radio" name="hideIgnored" class="js-dim-ignored s-radio" id="f7d474e5-9600-4b6e-ae6d-615044be2424-off" checked="checked"></div>
                    <label for="f7d474e5-9600-4b6e-ae6d-615044be2424-off" class="grid--cell s-label fs-body1 fw-normal">Gray out questions in your ignored tags</label>
                </div>
            </div>
        </div>
    </div>
</div>


        

            
            
            <div class="module js-gps-related-tags" id="related-tags">
                <h4 id="h-related-tags">Related Tags</h4>
        <div data-name="14.04">
            <a href="/questions/tagged/14.04" class="post-tag no-tag-menu js-gps-track" title="show questions tagged '14.04'" rel="tag">14.04</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">21021</span></span>
        </div>
        <div data-name="16.04">
            <a href="/questions/tagged/16.04" class="post-tag no-tag-menu js-gps-track" title="show questions tagged '16.04'" rel="tag">16.04</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">17419</span></span>
        </div>
        <div data-name="12.04">
            <a href="/questions/tagged/12.04" class="post-tag no-tag-menu js-gps-track" title="show questions tagged '12.04'" rel="tag">12.04</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">16941</span></span>
        </div>
        <div data-name="boot">
            <a href="/questions/tagged/boot" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'boot'" rel="tag">boot</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">16828</span></span>
        </div>
        <div data-name="command-line">
            <a href="/questions/tagged/command-line" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'command-line'" rel="tag">command-line</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">16046</span></span>
        </div>
        <div data-name="networking">
            <a href="/questions/tagged/networking" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'networking'" rel="tag">networking</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">15843</span></span>
        </div>
        <div data-name="dual-boot">
            <a href="/questions/tagged/dual-boot" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'dual-boot'" rel="tag">dual-boot</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">13007</span></span>
        </div>
        <div data-name="drivers">
            <a href="/questions/tagged/drivers" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'drivers'" rel="tag">drivers</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">12433</span></span>
        </div>
        <div data-name="apt">
            <a href="/questions/tagged/apt" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'apt'" rel="tag">apt</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">11523</span></span>
        </div>
        <div data-name="server">
            <a href="/questions/tagged/server" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'server'" rel="tag">server</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">11365</span></span>
        </div>
        <div class="dno js-hidden" data-name="wireless">
            <a href="/questions/tagged/wireless" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'wireless'" rel="tag">wireless</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">10530</span></span>
        </div>
        <div class="dno js-hidden" data-name="unity">
            <a href="/questions/tagged/unity" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'unity'" rel="tag">unity</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">9768</span></span>
        </div>
        <div class="dno js-hidden" data-name="grub2">
            <a href="/questions/tagged/grub2" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'grub2'" rel="tag">grub2</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">9562</span></span>
        </div>
        <div class="dno js-hidden" data-name="partitioning">
            <a href="/questions/tagged/partitioning" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'partitioning'" rel="tag">partitioning</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">9420</span></span>
        </div>
        <div class="dno js-hidden" data-name="nvidia">
            <a href="/questions/tagged/nvidia" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'nvidia'" rel="tag">nvidia</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">8173</span></span>
        </div>
        <div class="dno js-hidden" data-name="gnome">
            <a href="/questions/tagged/gnome" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'gnome'" rel="tag">gnome</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">7549</span></span>
        </div>
        <div class="dno js-hidden" data-name="bash">
            <a href="/questions/tagged/bash" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'bash'" rel="tag">bash</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">7229</span></span>
        </div>
        <div class="dno js-hidden" data-name="18.04">
            <a href="/questions/tagged/18.04" class="post-tag no-tag-menu js-gps-track" title="show questions tagged '18.04'" rel="tag">18.04</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">7139</span></span>
        </div>
        <div class="dno js-hidden" data-name="system-installation">
            <a href="/questions/tagged/system-installation" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'system-installation'" rel="tag">system-installation</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">7118</span></span>
        </div>
        <div class="dno js-hidden" data-name="installation">
            <a href="/questions/tagged/installation" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'installation'" rel="tag">installation</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">7101</span></span>
        </div>
        <div class="dno js-hidden" data-name="package-management">
            <a href="/questions/tagged/package-management" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'package-management'" rel="tag">package-management</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">7067</span></span>
        </div>
        <div class="dno js-hidden" data-name="software-installation">
            <a href="/questions/tagged/software-installation" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'software-installation'" rel="tag">software-installation</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">6986</span></span>
        </div>
        <div class="dno js-hidden" data-name="upgrade">
            <a href="/questions/tagged/upgrade" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'upgrade'" rel="tag">upgrade</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">6797</span></span>
        </div>
        <div class="dno js-hidden" data-name="usb">
            <a href="/questions/tagged/usb" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'usb'" rel="tag">usb</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">6525</span></span>
        </div>
        <div class="dno js-hidden" data-name="sound">
            <a href="/questions/tagged/sound" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'sound'" rel="tag">sound</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">5983</span></span>
        </div>
        <a href="#" class="show-more js-show-more js-gps-track" data-gps-track="related_tags.click({ item_type:2 })">
            more related tags
        </a>
        <script>
            StackExchange.ready(function () {
                var $div = $('#h-related-tags').parent();
                $div.find('.js-show-more').click(function () {
                    $div.find('.js-hidden').show();
                    $(this).remove();
                    return false;
                });
            });
        </script>

            </div>



            
<div id="hot-network-questions" class="module tex2jax_ignore">
    <h4>
        <a href="https://stackexchange.com/questions?tab=hot" class="js-gps-track s-link s-link__inherit" data-gps-track="posts_hot_network.click({ item_type:1, location:8 })">
            Hot Network Questions
        </a>
    </h4>
    <ul>
            <li>
                <div class="favicon favicon-scifi" title="Science Fiction &amp; Fantasy Stack Exchange"></div><a href="https://scifi.stackexchange.com/questions/199300/story-about-earth-after-a-disease-wiped-out-most-of-the-population-except-for-t" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:186 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Story about Earth after a disease wiped out most of the population, except for those with "backwards" DNA
                </a>

            </li>
            <li>
                <div class="favicon favicon-politics" title="Politics Stack Exchange"></div><a href="https://politics.stackexchange.com/questions/35565/what-are-the-reasons-for-the-rise-in-euroscepticism-over-the-last-few-years" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:475 }); posts_hot_network.click({ item_type:2, location:8 })">
                    What are the reasons for the rise in Euroscepticism over the last few years?
                </a>

            </li>
            <li>
                <div class="favicon favicon-graphicdesign" title="Graphic Design Stack Exchange"></div><a href="https://graphicdesign.stackexchange.com/questions/117357/how-to-ensure-international-logo-can-be-ethnically-neutral-enough-so-it-won-t-be" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:174 }); posts_hot_network.click({ item_type:2, location:8 })">
                    How to ensure international logo can be ethnically neutral enough so it won’t be offensive?
                </a>

            </li>
            <li>
                <div class="favicon favicon-worldbuilding" title="Worldbuilding Stack Exchange"></div><a href="https://worldbuilding.stackexchange.com/questions/131259/martial-arts-in-zero-or-lower-gravity" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:579 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Martial arts in zero or lower gravity
                </a>

            </li>
            <li>
                <div class="favicon favicon-ux" title="User Experience Stack Exchange"></div><a href="https://ux.stackexchange.com/questions/122299/should-software-refer-to-itself-in-the-first-person-especially-in-error-message" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:102 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Should software refer to itself in the first-person, especially in error messages?
                </a>

            </li>
            <li>
                <div class="favicon favicon-serverfault" title="Server Fault"></div><a href="https://serverfault.com/questions/941592/how-dc-authenticates-when-client-is-not-using-any-authentication" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:2 }); posts_hot_network.click({ item_type:2, location:8 })">
                    How DC authenticates when Client is not using any authentication?
                </a>

            </li>
            <li>
                <div class="favicon favicon-stackoverflow" title="Stack Overflow"></div><a href="https://stackoverflow.com/questions/53476833/create-a-sequence-between-two-letters" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:1 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Create a sequence between two letters
                </a>

            </li>
            <li>
                <div class="favicon favicon-chemistry" title="Chemistry Stack Exchange"></div><a href="https://chemistry.stackexchange.com/questions/104791/why-do-we-call-o2-oxygen" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:431 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Why do we call O2 oxygen?
                </a>

            </li>
            <li>
                <div class="favicon favicon-pets" title="Pets Stack Exchange"></div><a href="https://pets.stackexchange.com/questions/21884/can-a-cat-who-only-lives-in-a-small-flat-be-happy" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:518 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Can a cat who only lives in a (small) flat be happy?
                </a>

            </li>
            <li>
                <div class="favicon favicon-math" title="Mathematics Stack Exchange"></div><a href="https://math.stackexchange.com/questions/3013709/prove-that-there-exists-a-triangle-which-can-be-cut-into-2005-congruent-triangle" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:69 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Prove that there exists a triangle which can be cut into 2005 congruent triangles.
                </a>

            </li>
            <li>
                <div class="favicon favicon-security" title="Information Security Stack Exchange"></div><a href="https://security.stackexchange.com/questions/198119/is-it-ok-that-a-sysadmin-knows-the-password-for-a-newcomer-act-as-a-user-imme" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:162 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Is it OK that a sysadmin knows the password for a newcomer / act as a user (immediately after his/her recruiting)?
                </a>

            </li>
            <li>
                <div class="favicon favicon-academia" title="Academia Stack Exchange"></div><a href="https://academia.stackexchange.com/questions/120532/why-dont-i-see-publications-criticising-other-publications" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:415 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Why don't I see publications criticising other publications?
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a href="https://tex.stackexchange.com/questions/461694/large-equation-goes-out-of-the-page" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:85 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Large equation goes out of the page
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-softwareengineering" title="Software Engineering Stack Exchange"></div><a href="https://softwareengineering.stackexchange.com/questions/381996/is-it-a-good-idea-to-write-all-possible-test-cases-after-transform-the-team-to-t" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:131 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Is it a good idea to write all possible test cases after transform the team to TDD?
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-math" title="Mathematics Stack Exchange"></div><a href="https://math.stackexchange.com/questions/3013195/can-an-empty-set-be-an-image-of-function" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:69 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Can an empty set be an image of function
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-worldbuilding" title="Worldbuilding Stack Exchange"></div><a href="https://worldbuilding.stackexchange.com/questions/130999/is-it-possible-to-get-permanently-scarred-by-the-sea" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:579 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Is it possible to get permanently scarred by the sea?
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-math" title="Mathematics Stack Exchange"></div><a href="https://math.stackexchange.com/questions/3013802/choosing-formal-system-for-mathematics" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:69 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Choosing formal system for mathematics
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-philosophy" title="Philosophy Stack Exchange"></div><a href="https://philosophy.stackexchange.com/questions/57440/how-to-prove-%e2%88%83xpx-from-%c2%ac%e2%88%80xpx%e2%86%92qx" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:265 }); posts_hot_network.click({ item_type:2, location:8 })">
                    How to prove ‘∃xP(x)’ from ‘¬∀x(P(x)→Q(x))’
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a href="https://tex.stackexchange.com/questions/461739/is-it-possible-to-print-the-file-size-of-a-file" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:85 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Is it possible to print the file size of a file?
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-workplace" title="The Workplace Stack Exchange"></div><a href="https://workplace.stackexchange.com/questions/123237/dealing-with-a-team-member-who-ignores-company-structure" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:423 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Dealing with a team member who ignores company structure
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-space" title="Space Exploration Stack Exchange"></div><a href="https://space.stackexchange.com/questions/32284/how-can-a-rocket-approaching-the-karman-line-then-return-to-earth-faster-than-53" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:508 }); posts_hot_network.click({ item_type:2, location:8 })">
                    How can a rocket approaching the Karman Line then return to earth faster than 53 m/s terminal velocity?
                </a>

            </li>
            <li class="dno js-hidden" style="display: list-item;">
                <div class="favicon favicon-security" title="Information Security Stack Exchange"></div><a href="https://security.stackexchange.com/questions/198263/should-i-close-port-80-forever-and-ever-since-the-2018-google-indicated-web-secu" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:162 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Should I close port 80 forever and ever since the 2018 Google-indicated web-security initiatives?
                </a>

            </li>
            <li class="dno js-hidden">
                <div class="favicon favicon-codegolf" title="Programming Puzzles &amp; Code Golf Stack Exchange"></div><a href="https://codegolf.stackexchange.com/questions/176492/how-frustrating-is-my-movie" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:200 }); posts_hot_network.click({ item_type:2, location:8 })">
                    How frustrating is my movie?
                </a>

            </li>
            <li class="dno js-hidden">
                <div class="favicon favicon-linguistics" title="Linguistics Stack Exchange"></div><a href="https://linguistics.stackexchange.com/questions/29752/why-are-two-instances-of-r-in-one-word-awkward" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:8, target_site:312 }); posts_hot_network.click({ item_type:2, location:8 })">
                    Why are "two instances of /r/ in one word" awkward?
                </a>

            </li>
    </ul>

        <a href="#" class="show-more js-show-more js-gps-track" data-gps-track="posts_hot_network.click({ item_type:3, location:8 })">
            more hot questions
        </a>
</div>
            

<div id="feed-link">
    <a href="/feeds" title="the 30 most recent questions">
        <svg aria-hidden="true" class="svg-icon fc-orange-400 iconRss" width="18" height="18" viewBox="0 0 18 18"><path d="M1 3c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3zm14.5 12C15.5 8.1 9.9 2.5 3 2.5V5a10 10 0 0 1 10 10h2.5zm-5 0A7.5 7.5 0 0 0 3 7.5V10a5 5 0 0 1 5 5h2.5zm-5 0A2.5 2.5 0 0 0 3 12.5V15h2.5z"></path></svg>
        recent questions feed
    </a>
</div>
        </div>