{% extends 'base/index.twig' %}

{% block content %} 

<div id="mainbar" role="main" aria-labelledby="h-all-questions">
        



            <div class="grid">
                    <h1 class="grid--cell fl1 fs-headline1 mb24">All Questions</h1>
                



<div class="pl8 aside-cta grid--cell" role="navigation" aria-label="ask new question">
            <a href="/questions/ask" class="d-inline-flex ai-center ws-nowrap s-btn s-btn__primary">Ask Question</a>
</div>

            </div>
                <div class="grid ai-center mb16 fw-wrap">
                        <div class="grid--cell fl1 fs-body3">
                            310,366 questions
                        </div>


                    <div class="grid--cell">
                        
<div class="grid tabs-filter s-btn-group tt-capitalize">
        <a class="youarehere is-selected grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="/questions?sort=newest" data-nav-xhref="" title="The most recently asked questions" data-value="newest" data-shortcut="N">
            newest</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="/questions?sort=featured" data-nav-xhref="" title="Questions with open bounties" data-value="featured" data-shortcut="E">
<span class="bounty-indicator-tab">3</span>            featured</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="/questions?sort=frequent" data-nav-xhref="" title="Questions with the most links" data-value="frequent" data-shortcut="F">
            frequent</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="/questions?sort=votes" data-nav-xhref="" title="Questions with the most votes" data-value="votes" data-shortcut="V">
            votes</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="/questions?sort=active" data-nav-xhref="" title="Questions that have recent activity" data-value="active" data-shortcut="A">
            active</a>
        <a class="grid--cell s-btn s-btn__muted s-btn__outlined py8 ws-nowrap" href="/questions?sort=unanswered" data-nav-xhref="" title="Questions that have no upvoted answers" data-value="unanswered" data-shortcut="U">
            unanswered</a>
    </div>

                    </div>
                </div>



        <div id="questions" class="flush-left">

<div class="question-summary" id="question-summary-1096169">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="5 views">
    5 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096169/how-do-you-upgrade-to-18-10-from-disk" class="question-hyperlink">How do you upgrade to 18.10 from disk?</a></h3>
        <div class="excerpt">
            So I have this Kubuntu VM installed ... unfortunately, I never bothered to install updates.

That wasn't an issue until recently, when I needed to get some new packages and just couldn't.

So I went ...
        </div>          
        <div class="tags t-upgrade t-virtualbox t-kubuntu t-17û04 t-18û10">
            <a href="/questions/tagged/upgrade" class="post-tag" title="show questions tagged 'upgrade'" rel="tag">upgrade</a> <a href="/questions/tagged/virtualbox" class="post-tag" title="" rel="tag">virtualbox</a> <a href="/questions/tagged/kubuntu" class="post-tag" title="" rel="tag">kubuntu</a> <a href="/questions/tagged/17.04" class="post-tag" title="show questions tagged '17.04'" rel="tag">17.04</a> <a href="/questions/tagged/18.10" class="post-tag" title="show questions tagged '18.10'" rel="tag">18.10</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 13:21:21Z" class="relativetime">5 mins ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/194379/user1291"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/cbbd1b40887d19bc0c8fdd5ef42a05ed?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/194379/user1291">User1291</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">164</span><span title="1 gold badge"><span class="badge1"></span><span class="badgecount">1</span></span><span title="1 silver badge"><span class="badge2"></span><span class="badgecount">1</span></span><span title="10 bronze badges"><span class="badge3"></span><span class="badgecount">10</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096165">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status answered">
                <strong>1</strong>answer
            </div>
        </div>
        <div class="views " title="7 views">
    7 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096165/installing-harrison-mixbus-32c-5" class="question-hyperlink">Installing Harrison Mixbus 32C-5</a></h3>
        <div class="excerpt">
            I am trying to install "harrison mixbus 32C-5" for Linux in Ubuntu 18.04. It is distributed as a "Mixbus32C-5.1.0-x86_64-gcc5.run" file. I use the "chmod +x Mixbus32C-5.1.0-x86_64-gcc5.run" ...
        </div>          
        <div class="tags t-software-installation">
            <a href="/questions/tagged/software-installation" class="post-tag" title="show questions tagged 'software-installation'" rel="tag">software-installation</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:57:16Z" class="relativetime">29 mins ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/897079/elias-eliadis"><div class="gravatar-wrapper-32"><img src="https://lh3.googleusercontent.com/-To0V9H3VSOU/AAAAAAAAAAI/AAAAAAAAAOs/usca6SqGZRI/photo.jpg?sz=32" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/897079/elias-eliadis">Elias Eliadis</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">1</span><span title="1 bronze badge"><span class="badge3"></span><span class="badgecount">1</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096161">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status answered">
                <strong>1</strong>answer
            </div>
        </div>
        <div class="views " title="23 views">
    23 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096161/sudo-apt-get-update-error-im-new-to-ubuntu-and-cant-get-resolve-this-please" class="question-hyperlink">sudo apt-get update error. I'm new to Ubuntu and can't get resolve this. Please help</a></h3>
        <div class="excerpt">
            Version 18.04 sudo apt-get update

I am trying to "update" but am getting the following message:

Err:1 http://archive.ubuntu.com/ubuntu bionic InRelease
  Could not resolve 'archive.ubuntu.com'
Err:2 ...
        </div>          
        <div class="tags t-apt t-18û04 t-updates">
            <a href="/questions/tagged/apt" class="post-tag" title="show questions tagged 'apt'" rel="tag">apt</a> <a href="/questions/tagged/18.04" class="post-tag" title="show questions tagged '18.04'" rel="tag">18.04</a> <a href="/questions/tagged/updates" class="post-tag" title="show questions tagged 'updates'" rel="tag">updates</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:42:07Z" class="relativetime">44 mins ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/897067/flamed"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/d816b30da3b2671900173cc34201d15f?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/897067/flamed">flamed</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">1</span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096160">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="10 views">
    10 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096160/couldnt-install-isc-dhcp-server-on-ubuntu-server-18-04" class="question-hyperlink">Couldn't install isc-dhcp-server on Ubuntu Server 18.04</a></h3>
        <div class="excerpt">
            I tried to install DHCP server on my Ubuntu Server 18.04, but it failed. 

sudo apt install isc-dhcp-server

The following messages were shown after the trial:

E: Could not get lock /var/lib/dpkg/...
        </div>          
        <div class="tags t-server t-18û04">
            <a href="/questions/tagged/server" class="post-tag" title="show questions tagged 'server'" rel="tag">server</a> <a href="/questions/tagged/18.04" class="post-tag" title="show questions tagged '18.04'" rel="tag">18.04</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:35:46Z" class="relativetime">51 mins ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/875873/john2"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/b9135f53f633cb5105dbee8535c79d60?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/875873/john2">John2</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">1</span><span title="1 bronze badge"><span class="badge3"></span><span class="badgecount">1</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096159">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>1</strong></span>
                    <div class="viewcount">vote</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="8 views">
    8 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096159/virtualbox-graphics-glitches-and-software-rendering-mode" class="question-hyperlink">Virtualbox Graphics glitches and software rendering mode</a></h3>
        <div class="excerpt">
            I have virtualbox running on an AMD processor on W7 with a GTX 1060. I am attempting to make a linux mint virtual box, and when I boot from disk and click 'start linux mint' after pressing F6, I get ...
        </div>          
        <div class="tags t-graphics t-virtualbox">
            <a href="/questions/tagged/graphics" class="post-tag" title="show questions tagged 'graphics'" rel="tag">graphics</a> <a href="/questions/tagged/virtualbox" class="post-tag" title="show questions tagged 'virtualbox'" rel="tag">virtualbox</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:29:20Z" class="relativetime">57 mins ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/897070/jamesmartini"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/7cC4K.jpg?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/897070/jamesmartini">jamesmartini</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">109</span><span title="1 bronze badge"><span class="badge3"></span><span class="badgecount">1</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096158">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>1</strong></span>
                    <div class="viewcount">vote</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="7 views">
    7 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096158/pulseaudio-maximum-number-of-channels" class="question-hyperlink">PulseAudio - Maximum number of channels</a></h3>
        <div class="excerpt">
            Does PulseAudio has a limitation on number of surround channels streamed over HDMI? Does it support 9.2 LPCM for example?

I have an Intel NUC that's HDMI 2.0a capable. According to the specification, ...
        </div>          
        <div class="tags t-pulseaudio">
            <a href="/questions/tagged/pulseaudio" class="post-tag" title="show questions tagged 'pulseaudio'" rel="tag">pulseaudio</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:28:08Z" class="relativetime">58 mins ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/683103/ivan-nikitin"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/7b7dca2c8780bf92f9f85a89495a9174?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/683103/ivan-nikitin">Ivan Nikitin</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">106</span><span title="2 bronze badges"><span class="badge3"></span><span class="badgecount">2</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096157">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>-4</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="23 views">
    23 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096157/can-not-install-any-ubuntu-server-edition-i386-on-intel-cpu" class="question-hyperlink">CAN NOT INSTALL ANY UBUNTU SERVER EDITION I386 ON INTEL CPU [on hold]</a></h3>
        <div class="excerpt">
            emphasized textCAN NOT INSTALL ANY UBUNTU SERVER EDITION I386 ON INTEL CPUstrong text
        </div>          
        <div class="tags t-server">
            <a href="/questions/tagged/server" class="post-tag" title="show questions tagged 'server'" rel="tag">server</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:21:35Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/897071/sachin"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/be05b8b033f745611edb9e1ec8c5a79c?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/897071/sachin">sachin</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">1</span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096156">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>1</strong></span>
                    <div class="viewcount">vote</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="11 views">
    11 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096156/unable-to-upload-amr-files-in-ubuntu" class="question-hyperlink">Unable to upload .amr files in Ubuntu?</a></h3>
        <div class="excerpt">
            I'm trying to upload media files to a website I'm maintaining. The latest one to be added is .amr (test file from here) and it's causing problems, but only with Ubuntu. It works fine on Mac OS (High ...
        </div>          
        <div class="tags t-18û04 t-firefox t-chromium t-file-format t-javascript">
            <a href="/questions/tagged/18.04" class="post-tag" title="show questions tagged '18.04'" rel="tag">18.04</a> <a href="/questions/tagged/firefox" class="post-tag" title="show questions tagged 'firefox'" rel="tag">firefox</a> <a href="/questions/tagged/chromium" class="post-tag" title="show questions tagged 'chromium'" rel="tag">chromium</a> <a href="/questions/tagged/file-format" class="post-tag" title="show questions tagged 'file-format'" rel="tag">file-format</a> <a href="/questions/tagged/javascript" class="post-tag" title="show questions tagged 'javascript'" rel="tag">javascript</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:21:31Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/89097/james-bradbury"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/0499659f9694421609242c0bfc91b270?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/89097/james-bradbury">James Bradbury</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">175</span><span title="1 gold badge"><span class="badge1"></span><span class="badgecount">1</span></span><span title="3 silver badges"><span class="badge2"></span><span class="badgecount">3</span></span><span title="17 bronze badges"><span class="badge3"></span><span class="badgecount">17</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096155">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>-3</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="15 views">
    15 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096155/implement-a-name-resolution-system-for-story-bots-co-uk" class="question-hyperlink">Implement a name resolution system for story.bots.co.uk. [on hold]</a></h3>
        <div class="excerpt">
            This maps to the 172.24.1.0/24 subnet. This must include example records for three mail servers and eight clients. Ensure that the server can convert from names to IP addresses and back again.

I am ...
        </div>          
        <div class="tags t-scripts">
            <a href="/questions/tagged/scripts" class="post-tag" title="show questions tagged 'scripts'" rel="tag">scripts</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:18:12Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/890076/saubaan-mohammed"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/e13a953789936302a87abdccc4016d78?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/890076/saubaan-mohammed">Saubaan Mohammed</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">1</span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096152">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="23 views">
    23 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096152/which-flavour-ubuntu-for-ubuntu-console-only" class="question-hyperlink">Which flavour Ubuntu for Ubuntu Console Only?</a></h3>
        <div class="excerpt">
            I'm a Web Developer.

I've got an old Netbook computer.

I want to learn VIM and force myself to use the terminal to create a small NodeJS or Python project and fumble around in the dark with a text-...
        </div>          
        <div class="tags t-vim t-console">
            <a href="/questions/tagged/vim" class="post-tag" title="show questions tagged 'vim'" rel="tag">vim</a> <a href="/questions/tagged/console" class="post-tag" title="show questions tagged 'console'" rel="tag">console</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 12:03:40Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/165288/nick-middleweek"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/7a63fad24435ff0686e17a6a4a1203b9?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/165288/nick-middleweek">Nick Middleweek</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">111</span><span title="1 bronze badge"><span class="badge3"></span><span class="badgecount">1</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096150">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="8 views">
    8 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096150/system-statred-to-hang-randomly-after-power-outage" class="question-hyperlink">System statred to hang randomly after power outage</a></h3>
        <div class="excerpt">
            I've had a power outage recently while I was working in Blender. After reboot I have weird system behavior, it hangs when I work in Blender or scroll sites with Firefox. For instance, I left PC on ...
        </div>          
        <div class="tags t-xubuntu t-ssd t-error-handling">
            <a href="/questions/tagged/xubuntu" class="post-tag" title="show questions tagged 'xubuntu'" rel="tag">xubuntu</a> <a href="/questions/tagged/ssd" class="post-tag" title="show questions tagged 'ssd'" rel="tag">ssd</a> <a href="/questions/tagged/error-handling" class="post-tag" title="show questions tagged 'error-handling'" rel="tag">error-handling</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 11:43:43Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/889935/anna"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/e76dced04f6404a9513933fdbad7eac2?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/889935/anna">Anna</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">11</span><span title="2 bronze badges"><span class="badge3"></span><span class="badgecount">2</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096149">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>-3</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status answered">
                <strong>1</strong>answer
            </div>
        </div>
        <div class="views " title="30 views">
    30 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096149/photo-editing-software" class="question-hyperlink">Photo editing software [duplicate]</a></h3>
        <div class="excerpt">
            I want the software to have the following features
resize pictures 
Reduce picture quality
change pictures format (Example png to jpg)
Crop the photo
Most of these tasks should be done together

...
        </div>          
        <div class="tags t-photo t-photo-editing">
            <a href="/questions/tagged/photo" class="post-tag" title="show questions tagged 'photo'" rel="tag">photo</a> <a href="/questions/tagged/photo-editing" class="post-tag" title="show questions tagged 'photo-editing'" rel="tag">photo-editing</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 11:43:15Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/896331/imaniy"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/oV4AJ.jpg?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/896331/imaniy">imaniy</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">1</span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096148">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status unanswered">
                <strong>0</strong>answers
            </div>
        </div>
        <div class="views " title="9 views">
    9 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096148/video-drivers-for-intel-onboard-graphic-in-18-04-and-thinkpad-t410" class="question-hyperlink">Video drivers for Intel onboard graphic in 18.04 and thinkpad t410</a></h3>
        <div class="excerpt">
            I have a Thinkpad T410s with Intel onboard vga controller
It currently uses i915 driver but when I play multiple videos or one HD video the laptop temperature goes up until system restart!
I also can ...
        </div>          
        <div class="tags t-drivers t-18û04 t-graphics t-intel-graphics t-thinkpad">
            <a href="/questions/tagged/drivers" class="post-tag" title="show questions tagged 'drivers'" rel="tag">drivers</a> <a href="/questions/tagged/18.04" class="post-tag" title="show questions tagged '18.04'" rel="tag">18.04</a> <a href="/questions/tagged/graphics" class="post-tag" title="show questions tagged 'graphics'" rel="tag">graphics</a> <a href="/questions/tagged/intel-graphics" class="post-tag" title="show questions tagged 'intel-graphics'" rel="tag">intel-graphics</a> <a href="/questions/tagged/thinkpad" class="post-tag" title="" rel="tag">thinkpad</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 11:40:55Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/31158/ryn"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/02de244eb70d48b5694e7d6a53cb8adf?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/31158/ryn">RYN</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">352</span><span title="3 gold badges"><span class="badge1"></span><span class="badgecount">3</span></span><span title="6 silver badges"><span class="badge2"></span><span class="badgecount">6</span></span><span title="20 bronze badges"><span class="badge3"></span><span class="badgecount">20</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096145">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status answered">
                <strong>1</strong>answer
            </div>
        </div>
        <div class="views " title="13 views">
    13 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096145/18-04-lts-wont-let-me-re-login-and-shut-down-after-failed-apt-get-update-pleas" class="question-hyperlink">18.04 LTS won't let me re-login and shut down after failed apt get update, please help!</a></h3>
        <div class="excerpt">
            The machine was pretty slow already. However I decided to execute sudo apt-get update.

However the update stopped at 90% updating some trigger.

So I decided to log out and re login with user. ...
        </div>          
        <div class="tags t-apt t-login t-shutdown t-update-manager">
            <a href="/questions/tagged/apt" class="post-tag" title="show questions tagged 'apt'" rel="tag">apt</a> <a href="/questions/tagged/login" class="post-tag" title="show questions tagged 'login'" rel="tag">login</a> <a href="/questions/tagged/shutdown" class="post-tag" title="show questions tagged 'shutdown'" rel="tag">shutdown</a> <a href="/questions/tagged/update-manager" class="post-tag" title="show questions tagged 'update-manager'" rel="tag">update-manager</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 11:33:19Z" class="relativetime">1 hour ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/839968/ssssstut"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/913be1365e3aa09804489bfc30f76a04?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/839968/ssssstut">ssssstut</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">31</span><span title="5 bronze badges"><span class="badge3"></span><span class="badgecount">5</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div><div class="question-summary" id="question-summary-1096142">
    <div class="statscontainer">
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post "><strong>0</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status answered">
                <strong>1</strong>answer
            </div>
        </div>
        <div class="views " title="17 views">
    17 views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/1096142/how-to-log-into-other-desktop-environment-deepin" class="question-hyperlink">How to log into other Desktop Environment (Deepin)?</a></h3>
        <div class="excerpt">
            Since the Deeping Desktop Environment looks extremely sexy I wanted to try it out on my Ubuntu 18.04 installation (must not distrohop, but whatever.. :-)  ). So following the instructions on this page ...
        </div>          
        <div class="tags t-desktop-environments t-gdm t-deepin">
            <a href="/questions/tagged/desktop-environments" class="post-tag" title="show questions tagged 'desktop-environments'" rel="tag">desktop-environments</a> <a href="/questions/tagged/gdm" class="post-tag" title="show questions tagged 'gdm'" rel="tag">gdm</a> <a href="/questions/tagged/deepin" class="post-tag" title="show questions tagged 'deepin'" rel="tag">deepin</a> 
        </div>
        <div class="started fr">
            <div class="user-info ">
    <div class="user-action-time">
        asked <span title="2018-11-26 11:07:52Z" class="relativetime">2 hours ago</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/133190/kramer65"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/5cf1d263476e1b42cea5ceb572dddcd8?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/133190/kramer65">kramer65</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score " dir="ltr">804</span><span title="3 gold badges"><span class="badge1"></span><span class="badgecount">3</span></span><span title="14 silver badges"><span class="badge2"></span><span class="badgecount">14</span></span><span title="30 bronze badges"><span class="badge3"></span><span class="badgecount">30</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div>                            <br class="cbt">

                    </div>

        <br class="cbt">
<div class="page-sizer fr">
            <a href="/questions?pagesize=15&amp;sort=newest" title="show 15 items per page" class="page-numbers current">15</a>
            <a href="/questions?pagesize=30&amp;sort=newest" title="show 30 items per page" class="page-numbers ">30</a>
            <a href="/questions?pagesize=50&amp;sort=newest" title="show 50 items per page" class="page-numbers ">50</a>
        <span class="page-numbers desc">per page</span>
    </div><div class="pager fl">
        




 <span class="page-numbers current">1</span>         <a href="/questions?page=2&amp;sort=newest" title="go to page 2"> <span class="page-numbers">2</span> </a> 
        <a href="/questions?page=3&amp;sort=newest" title="go to page 3"> <span class="page-numbers">3</span> </a> 
        <a href="/questions?page=4&amp;sort=newest" title="go to page 4"> <span class="page-numbers">4</span> </a> 
        <a href="/questions?page=5&amp;sort=newest" title="go to page 5"> <span class="page-numbers">5</span> </a> 
 <span class="page-numbers dots">…</span>         <a href="/questions?page=20692&amp;sort=newest" title="go to page 20692"> <span class="page-numbers">20692</span> </a> 
        <a href="/questions?page=2&amp;sort=newest" rel="next" title="go to page 2"> <span class="page-numbers next"> next</span> </a> 

    </div>
    </div>
    {% include 'base/sidebar.twig' %}

{% endblock %}